.header {
  border-bottom: 1px solid #efefef;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 56px;

  @media (max-width: $mantine-breakpoint-lg) {
    padding: 0 1rem;
  }
}

.desktop-logo {
  display: none;

  @media (min-width: $mantine-breakpoint-sm) {
    display: block;
  }
}

.mobile-logo {
  display: none;

  @media (max-width: $mantine-breakpoint-sm) {
    display: block;
  }
}

.search-desktop {
  width: 300px;
  margin-left: 0.5rem;
  display: none;

  @media (min-width: $mantine-breakpoint-sm) {
    display: block;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    margin-left: 2rem;
  }
}

.search-mobile {
  width: 200px;
  margin-left: 0.5rem;
  display: block;

  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.link {
  display: block;
  line-height: 1.5;
  padding: 4px 6px;
  border-radius: var(--mantine-radius-lg);
  text-decoration: none;
  color: var(--mantine-color-blue-5);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  color: var(--mantine-color-blue-7);
}

.desktop-right {
  display: none;

  @media (min-width: $mantine-breakpoint-lg) {
    display: flex;
  }
}

.mobile-right {
  flex-grow: 1;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;

  @media (min-width: $mantine-breakpoint-lg) {
    display: none;
    
  }
}

.navbar-btn {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--mantine-color-dark-8);
}

.navbar-btn:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.navbar-btn.navbar-btn-submit {
  font-weight: 700;
  color: var(--mantine-color-blue-5);
}