.container {
  display: block;
  padding: 0.25rem;

  @media (min-width: $mantine-breakpoint-xs) {
    display: flex;
  }
}

.toolbar-group {
  display: flex;
  padding-right: 1rem;
}

.toolbar-group:not(:last-child) {
  border-right: none;
  margin-right: 0;

  @media (min-width: $mantine-breakpoint-xs) {
    border-right: 1px solid #ccc;
    margin-right: 1rem;
  }
  
}

.toolbar-button:not(:last-child) {
  margin-right: 0.25rem;
}
