.html-container {
  color: var(--text-color);
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height);
}
.html-container ul,
.html-container ol {
  margin: revert;
  padding: revert;
}
.html-container .text-bold {
  font-weight: bold;
}
.html-container .text-underline {
  text-decoration: underline;
}
.html-container .text-italic {
  font-style: italic;
}
.html-container .text-code {
  font-family: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
    'Courier New', 'andale mono', 'lucida console', monospace;
  font-size: 12px;
  color: #2d3748;
  background-color: #edf2f7;
  padding: 0.25rem 0.25rem;
  border-radius: 0.125rem;
}
