.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.desktop-this-platform {
  display: none;

  @media (min-width: $mantine-breakpoint-md) {
    display: flex;
  }
}

.vertical-item-group {
  margin-top: 2rem;
}

.vertical-item-app {
  margin-top: 1.5rem;
}