.container {
  background-color: var(--mantine-color-orange-6);
  padding: 1rem 1rem;
  text-align: center;

  @media (min-width: $mantine-breakpoint-sm) {
    padding: 1rem 2rem;
  }
}

.text {
  font-size: 14px;

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: 16px;
  }
}
