.container {
  width: 100%;
}

.editor {
  width: 100%;
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  font-size: 14px;
  padding: 8px;
}

.editor span[data-slate-placeholder="true"] {
  margin-top: 8px;
}

.editor p:first-child, 
.editor ul:first-child,
.editor ol:first-child {
  margin-top: 0;
  margin-bottom: 0;
}


.editor p:not(:first-child),
.editor ul:not(:first-child),
.editor ol:first-child {
  margin-top: 14px;
  margin-bottom: 0;
}
