.header-container {
  display: flex;
  overflow-x: hidden;
}

.logo-container {
  margin-right: 0.5rem;
  flex-shrink: 0;

  @media (min-width: $mantine-breakpoint-sm) {
    margin-right: 1rem;
  }
}

.logo-container img {
  border-radius: 6px;
}

.app-left-col {
  width: 100%;  
  max-width: 768px;
}

.app-right-col-desktop {
  margin-left: 16px;
  width: 268px;
  display: none;

  @media (min-width: 1100px) {
    display: block;
  }
}

.app-right-col-mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;

  @media (min-width: 1100px) {
    display: none;
  }
}

.app-right-col-mobile-content {
  max-width: 268px;
}

.upvote-box {
  border: 2px solid var(--mantine-color-gray-2);
  padding: 24px;
  border-radius: 8px;
}
