.header-container {
  display: flex;
  overflow-x: hidden;
}

.logo-container {
  margin-right: 0.5rem;
  flex-shrink: 0;

  @media (min-width: $mantine-breakpoint-sm) {
    margin-right: 1rem;
  }
}

.logo-container img {
  border-radius: 6px;
}

.carousel-container {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.carousel-container-width {
  width: 100%;
  max-width: 740px;
}

.support-box {
  border: 2px solid var(--mantine-color-gray-2);
  padding: 24px;
  border-radius: 8px;
}
